<?xml version="1.0"?>

<model>
  <name>Iris with Standoffs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>
  <author>
    <name>Michael Burri</name>
  </author>
  <author>
    <name>Mina Kamel</name>
  </author>
  <author>
    <name>Janosch Nikolic</name>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>

  <author>
    <name>Wil Koch</name>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
	  All of the physical modelling for iris aircraft
	  Modified to remove standoffs and gimbal
  </description>
</model>
