<?xml version="1.0"?>

<model>
  <name>Attitude control</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Wil Koch</name>
  </author>

  <maintainer email="wfkoch@bu.edu">Wil Koch</maintainer>


  <description>
	Iris quadcopter for attitude control
    add LiftDragPlugin
    add QuadcopterWorldPlugin
  </description>
  <depend>
    <model>
      <uri>model://xquad_demo</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
